<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learning.mapper.UserCmyPositionMapper">
  <resultMap id="BaseResultMap" type="learning.model.UserCmyPosition">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="op_cmy_code" jdbcType="VARCHAR" property="opCmyCode" />
    <result column="op_cmy_name" jdbcType="VARCHAR" property="opCmyName" />
    <result column="op_time" jdbcType="VARCHAR" property="opTime" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
    <result column="reserved4" jdbcType="BIGINT" property="reserved4" />
    <result column="reserved5" jdbcType="BIGINT" property="reserved5" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="cmy_code" jdbcType="VARCHAR" property="cmyCode" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="random_code" jdbcType="VARCHAR" property="randomCode" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="verify_code" jdbcType="VARCHAR" property="verifyCode" />
    <result column="verify_timestamp" jdbcType="VARCHAR" property="verifyTimestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, deleted, op_cmy_code, op_cmy_name, op_time, operator_code, operator_name, 
    reserved1, reserved2, reserved3, reserved4, reserved5, signature, version, cmy_code, 
    position, random_code, user_id, verify_code, verify_timestamp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_cmy_position
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_cmy_position
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="learning.model.UserCmyPosition">
    insert into user_cmy_position (id, create_time, deleted, 
      op_cmy_code, op_cmy_name, op_time, 
      operator_code, operator_name, reserved1, 
      reserved2, reserved3, reserved4, 
      reserved5, signature, version, 
      cmy_code, position, random_code, 
      user_id, verify_code, verify_timestamp
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, 
      #{opCmyCode,jdbcType=VARCHAR}, #{opCmyName,jdbcType=VARCHAR}, #{opTime,jdbcType=VARCHAR}, 
      #{operatorCode,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, 
      #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}, #{reserved4,jdbcType=BIGINT}, 
      #{reserved5,jdbcType=BIGINT}, #{signature,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{cmyCode,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{randomCode,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{verifyCode,jdbcType=VARCHAR}, #{verifyTimestamp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="learning.model.UserCmyPosition">
    insert into user_cmy_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="opCmyCode != null">
        op_cmy_code,
      </if>
      <if test="opCmyName != null">
        op_cmy_name,
      </if>
      <if test="opTime != null">
        op_time,
      </if>
      <if test="operatorCode != null">
        operator_code,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="reserved1 != null">
        reserved1,
      </if>
      <if test="reserved2 != null">
        reserved2,
      </if>
      <if test="reserved3 != null">
        reserved3,
      </if>
      <if test="reserved4 != null">
        reserved4,
      </if>
      <if test="reserved5 != null">
        reserved5,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="cmyCode != null">
        cmy_code,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="randomCode != null">
        random_code,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="verifyCode != null">
        verify_code,
      </if>
      <if test="verifyTimestamp != null">
        verify_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="opCmyCode != null">
        #{opCmyCode,jdbcType=VARCHAR},
      </if>
      <if test="opCmyName != null">
        #{opCmyName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null">
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null">
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        #{reserved4,jdbcType=BIGINT},
      </if>
      <if test="reserved5 != null">
        #{reserved5,jdbcType=BIGINT},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="cmyCode != null">
        #{cmyCode,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="randomCode != null">
        #{randomCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null">
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="verifyTimestamp != null">
        #{verifyTimestamp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="learning.model.UserCmyPosition">
    update user_cmy_position
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="opCmyCode != null">
        op_cmy_code = #{opCmyCode,jdbcType=VARCHAR},
      </if>
      <if test="opCmyName != null">
        op_cmy_name = #{opCmyName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null">
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null">
        operator_code = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        reserved4 = #{reserved4,jdbcType=BIGINT},
      </if>
      <if test="reserved5 != null">
        reserved5 = #{reserved5,jdbcType=BIGINT},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="cmyCode != null">
        cmy_code = #{cmyCode,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="randomCode != null">
        random_code = #{randomCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null">
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="verifyTimestamp != null">
        verify_timestamp = #{verifyTimestamp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="learning.model.UserCmyPosition">
    update user_cmy_position
    set create_time = #{createTime,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      op_cmy_code = #{opCmyCode,jdbcType=VARCHAR},
      op_cmy_name = #{opCmyName,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=VARCHAR},
      operator_code = #{operatorCode,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR},
      reserved4 = #{reserved4,jdbcType=BIGINT},
      reserved5 = #{reserved5,jdbcType=BIGINT},
      signature = #{signature,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      cmy_code = #{cmyCode,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      random_code = #{randomCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      verify_timestamp = #{verifyTimestamp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>