<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learning.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="learning.model.User">
    <id column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="op_cmy_code" jdbcType="VARCHAR" property="opCmyCode" />
    <result column="op_cmy_name" jdbcType="VARCHAR" property="opCmyName" />
    <result column="op_time" jdbcType="VARCHAR" property="opTime" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
    <result column="reserved4" jdbcType="BIGINT" property="reserved4" />
    <result column="reserved5" jdbcType="BIGINT" property="reserved5" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="account_json" jdbcType="VARCHAR" property="accountJson" />
    <result column="error_count" jdbcType="INTEGER" property="errorCount" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="lock_time" jdbcType="BIGINT" property="lockTime" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    address, create_time, deleted, op_cmy_code, op_cmy_name, op_time, operator_code, 
    operator_name, reserved1, reserved2, reserved3, reserved4, reserved5, signature, 
    version, account_json, error_count, id_card, lock_time, password, phone, real_name, 
    status, username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where address = #{address,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where address = #{address,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="learning.model.User">
    insert into user (address, create_time, deleted, 
      op_cmy_code, op_cmy_name, op_time, 
      operator_code, operator_name, reserved1, 
      reserved2, reserved3, reserved4, 
      reserved5, signature, version, 
      account_json, error_count, id_card, 
      lock_time, password, phone, 
      real_name, status, username
      )
    values (#{address,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, 
      #{opCmyCode,jdbcType=VARCHAR}, #{opCmyName,jdbcType=VARCHAR}, #{opTime,jdbcType=VARCHAR}, 
      #{operatorCode,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, 
      #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}, #{reserved4,jdbcType=BIGINT}, 
      #{reserved5,jdbcType=BIGINT}, #{signature,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{accountJson,jdbcType=VARCHAR}, #{errorCount,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, 
      #{lockTime,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="learning.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="opCmyCode != null">
        op_cmy_code,
      </if>
      <if test="opCmyName != null">
        op_cmy_name,
      </if>
      <if test="opTime != null">
        op_time,
      </if>
      <if test="operatorCode != null">
        operator_code,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="reserved1 != null">
        reserved1,
      </if>
      <if test="reserved2 != null">
        reserved2,
      </if>
      <if test="reserved3 != null">
        reserved3,
      </if>
      <if test="reserved4 != null">
        reserved4,
      </if>
      <if test="reserved5 != null">
        reserved5,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="accountJson != null">
        account_json,
      </if>
      <if test="errorCount != null">
        error_count,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="lockTime != null">
        lock_time,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="opCmyCode != null">
        #{opCmyCode,jdbcType=VARCHAR},
      </if>
      <if test="opCmyName != null">
        #{opCmyName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null">
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null">
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        #{reserved4,jdbcType=BIGINT},
      </if>
      <if test="reserved5 != null">
        #{reserved5,jdbcType=BIGINT},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="accountJson != null">
        #{accountJson,jdbcType=VARCHAR},
      </if>
      <if test="errorCount != null">
        #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="lockTime != null">
        #{lockTime,jdbcType=BIGINT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="learning.model.User">
    update user
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="opCmyCode != null">
        op_cmy_code = #{opCmyCode,jdbcType=VARCHAR},
      </if>
      <if test="opCmyName != null">
        op_cmy_name = #{opCmyName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null">
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorCode != null">
        operator_code = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        reserved4 = #{reserved4,jdbcType=BIGINT},
      </if>
      <if test="reserved5 != null">
        reserved5 = #{reserved5,jdbcType=BIGINT},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="accountJson != null">
        account_json = #{accountJson,jdbcType=VARCHAR},
      </if>
      <if test="errorCount != null">
        error_count = #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="lockTime != null">
        lock_time = #{lockTime,jdbcType=BIGINT},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where address = #{address,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="learning.model.User">
    update user
    set create_time = #{createTime,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      op_cmy_code = #{opCmyCode,jdbcType=VARCHAR},
      op_cmy_name = #{opCmyName,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=VARCHAR},
      operator_code = #{operatorCode,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR},
      reserved4 = #{reserved4,jdbcType=BIGINT},
      reserved5 = #{reserved5,jdbcType=BIGINT},
      signature = #{signature,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      account_json = #{accountJson,jdbcType=VARCHAR},
      error_count = #{errorCount,jdbcType=INTEGER},
      id_card = #{idCard,jdbcType=VARCHAR},
      lock_time = #{lockTime,jdbcType=BIGINT},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where address = #{address,jdbcType=VARCHAR}
  </update>
</mapper>